h1{
    background-color: rgb(20, 243, 243);
}
 
  p{
     width: 40%;
     margin: auto;
     height: 300px;
  }
  a{
     background-color: rgb(198, 8, 228);
     padding: 13px;
     border-radius: 30px;
  }
  .modernwarfare{
    background-image: url(https://assets.xboxservices.com/assets/71/b5/71b50f29-5799-4be1-97ef-d58d57c9fe37.jpg?n=CoD-Modern-Warfare-III_GLP-Page-Hero-0_1083x1222_02.jpg);
    width: 500px;
    height: 400px;
    margin: auto;
    border-radius: 50px;
    background-repeat: no-repeat;
     background-size: cover;
     background-position-x: center;
     width: 40%;
      background-color: rgb(50, 50, 216);
      /*внутриний      */
      padding: 20px;
       /*внутриний      */
      border-radius: 20px;
      border-width: 20px;
      margin: 500px;
      margin: 50px auto
}